.content-para{
    margin: 3% 0;
}

.faculty.content{
    max-width: 1200px;    
}
.faculty.content .block-container{
    display: table;    
    width: 100%;
    margin: 40px 0 100px 0;
}
.faculty.content .block-container .block{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-right: none;
    border-bottom: 1px solid #fcb913;
    
}
.faculty.content .block-container .block:last-child{
    border: none;
}
.faculty.content .block-container .block .photo{        
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0px;
    left: 0;
    background: black;
}
.faculty.content .block-container .block .details{
    box-sizing: border-box;
    padding-left: 125px;
    min-height: 110px;
    
}
.faculty.content .block-container .block .details p{
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.faculty.content h1{
    text-align: center;
}
.faculty.content h4{
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 10px 0;
}