
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body{
    margin: 0;
    padding-bottom: 165px;
    position: relative;
    font-family: Avenir;
}

.header .container{
    text-align: right;
    position: relative;
    height: 100px;
}

.header .container a.logo img
{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
}
.header ul{
    margin: 0;
}
.header ul li{
    display: inline-block;
    list-style: none;
    font-size: 14px;
    color: #474445;
    /* padding: 42px 30px; */
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.header ul li:last-child{
    padding-right: 0;
}
.header ul li a{
    text-decoration: none;
    color: #474445;
    display: block;
    padding: 42px 30px;
    /* padding: 10px 20px; */
}
.header ul li .menu-list{
    position: absolute;
    text-align: left;
    border: 1px solid #efeff0;
    background: white;
    top: 65px;
    left: 30px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in;
    
}
.header ul li .menu-list .sub-menu{
    padding: 8px 15px;
    border-bottom: 1px solid #efeff0;
}
.header ul li .menu-list .sub-menu:last-child{
    border-bottom:none; 
}

.header ul li .menu-list .sub-menu a{
    padding: 0;
}
.header ul li:hover span{
    color: #fcb913;    
}
.header ul li:hover .menu-list{
    opacity: 1;    
    visibility: visible;
}
.header ul li .menu-list .sub-menu:hover a{
    color: #fcb913; 
}
.header ul li.mob-menu{
    display: none;
}

.menu-icon{
    width: 40px;
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.footer{
    background: #4e4e50;
    height: 165px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 0 25px;
    box-sizing: border-box;
}
.footer a{
    text-decoration: none;
    color:#fff;
}
.footer .v-middle{
    display: table;
    width: 100%;
    height: 100%;
}
.footer .v-middle::after{
    content: '';
    clear: both;
}
.footer .v-middle .side-block{
    display: table-cell;
    /* width: 30%; */
    vertical-align: middle;
    position: relative;
}
.footer .v-middle .side-block img{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 0 5px;
}
.footer .v-middle .side-block span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.footer .v-middle .side-block span.contact-us{
    margin: 0;
    margin-left: 20px;
}
.footer .v-middle .side-block:last-child{
    text-align: right
}
.footer .v-middle .middle-block{
    display: table-cell;
    vertical-align: top;
    /* width: 40%; */
    padding-top: 30px;
    text-align: center;
}

.footer .v-middle .middle-block .alert{
}
.footer .v-middle .middle-block .sign-up{
    margin: 5px 0 10px;
    color: #e0e0e0;
    font-size: 13px;;
}
.footer .v-middle .middle-block .fields input{
    width: 310px;
    padding: 8px;
    border: none;
}
.footer .v-middle .middle-block .fields button{
    padding: 8px;
    cursor: pointer;
    border: none;
    background: #2fbaa7;
}
/* .content{
    min-height: calc(100vh - 265px);
} */
.container{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

h1{
    font-weight: 900;
    margin: 0;
    color : #fcb913;
    font-size: 60px;
}
.content{
    max-width: 800px;
    margin: 50px auto 80px;
    font-weight: 400;
    font-size: 15px;
    padding: 0 25px;
}