
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    padding-bottom: 165px;
    position: relative;
    font-family: Avenir;
    padding-bottom: 0;
}

/* input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font-family: Avenir;
} */
.header .container{
    text-align: right;
    position: relative;
    height: 100px;
}

.header .container a.logo img
{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
}
.header ul{
    position: absolute;
    right: 25px;
    top: 60px;
    padding: 35px 0;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    z-index: -1;
    background: #fcb913;
    box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.5);
}
.header ul.show{
    z-index: 100;
    opacity: 1;
}

.header ul li{
    text-align: left;
    list-style: none;
    display: block;
    border-bottom: 1px solid;
    font-size: 14px;
    color: #474445;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.header ul li:last-child{
    padding-right: 0;
}
.header ul li a{
    text-decoration: none;
    color: #474445;
    display: block;
    padding: 10px 20px;
}
.header ul li .menu-list{
    position: absolute;
    text-align: left;
    border: 1px solid #efeff0;
    background: white;
    top: 65px;
    left: 30px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in;
    
}
.header ul li .menu-list .sub-menu{
    padding: 8px 15px;
    border-bottom: 1px solid #efeff0;
}
.header ul li .menu-list .sub-menu:last-child{
    border-bottom:none; 
}

.header ul li .menu-list .sub-menu a{
    padding: 0;
}
.header ul li:hover{
    background: black;
 }
 
.header ul li:hover span{
    color: #fcb913;    
}
.header ul li:hover .menu-list {
    opacity: 0;
    visibility: hidden;
}
.header ul li .menu-list .sub-menu:hover a{
    color: #fcb913; 
}
.header ul li.mob-menu{
    display: block;
}
.header ul li.mob-menu a{
    padding: 10px 40px;
}
.menu-icon{
    width: 40px;
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.footer{
    position: static;
    height: auto;
    background: #4e4e50;
    width: 100%;
    color: #fff;
    padding: 25px;
    box-sizing: border-box;
}

.footer a{
    text-decoration: none;
    color:#fff;
}
.footer .v-middle {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}


.footer .v-middle::after{
    content: '';
    clear: both;
}

.footer .v-middle .side-block{
    padding: 25px 0;
    display: block;
    text-align: center;
}

.footer .v-middle .side-block img{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 0 5px;
}
.footer .v-middle .side-block span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.footer .v-middle .side-block span.contact-us{
    margin: 0;
    margin-left: 20px;
}
.footer .v-middle .side-block:last-child{
    text-align: center;
}
.footer .v-middle .middle-block{
    display: block;
    padding: 0px;
    max-width: 360px;
    margin: 0 auto;
}

.footer .v-middle .middle-block .sign-up{
    margin: 5px 0 10px;
    color: #e0e0e0;
    font-size: 13px;;
}
.footer .v-middle .middle-block .fields input{
    width: calc(100% - 65px);
    padding: 8px;
    border: none;
    box-sizing: border-box;
}
.footer .v-middle .middle-block .fields button{
    padding: 8px;
    cursor: pointer;
    border: none;
    background: #2fbaa7;
}
/* .content{
    min-height: calc(100vh - 265px);
} */
.container{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

h1{
    font-weight: 900;
    margin: 0;
    color : #fcb913;
    font-size: 60px;
}
.content{
    max-width: 800px;
    margin: 50px auto 80px;
    font-weight: 400;
    font-size: 15px;
    padding: 0 25px;
}