.home-page.content{
    margin: 50px auto;
}
.home-page.content h1{
    font-size: 55px;
    text-align: center;
}
.home-page.content h2{
    
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin: 0 0 8px;
}
.home-page .what-we-do{
    margin: 0 auto;
    text-align: center;
}
.home-page .what-we-do p{
    margin: 0;
}

.form-container{
    background: #231f20;
    color: #babbbd;
    padding: 100px 0;
}
.form-container .content{
    max-width: 800px;
    margin: 0 auto;
}
.form-container .block{
    width: 100%;
    text-align: center;
}

.form-container .content::after{
    content: '';
    clear: both;
    display: block;
}
.form-container h3{
    background: #231f20;
    color: #fcb913;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    margin: 0 0 20px 0;
}
.form-container .block p{
    margin: 0 0 35px 0;
}
.form-container .field-container
{
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 600px;
}

.form-container .field-container span {
    display: inline-block;
    min-width: 112px;
    text-align: right;
    margin-right: 5px;
    box-sizing: border-box;
}
.form-container .field-container input
{
    padding: 7px 10px;
    margin-left: 0px;
    width: calc(100% - 122px);
    box-sizing: border-box;
    background: #babbbd;
    border: none;
    display: inline-block;
}
.form-container .field-container button
{
    padding: 7px 20px;
    margin-left: 5px;
    cursor: pointer;
    box-sizing: border-box;
    background: #babbbd;
    border:none;
}

.desktop-slide{
    display: none;
}


.mob-slide.slide{
    display: block;
    height: 100%;
    min-height: auto;
    background: transparent;
}
.mob-slide img{
    width: 100%;
    height: auto;
}
.mob-slide ul{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.mob-slide ol{
    display: none;
}