@media screen and (min-width: 1200px) {
    .faculty.content .block-container .block{
        display: table-cell;
        padding: 0 15px;
        position: relative;
        border-right: 1px solid #fcb913;
        border-bottom: none;
    }
    .faculty.content .block-container .block .details{
        min-height: 110px;
    }
    .faculty.content .block-container .block .photo{
        left: 15px;
    }
}
@media screen and (min-device-width: 950px) and (min-width: 950px) {
    .retail-member-container .content .block{
        width: 50%;
        float: left;
    }
    .header ul{
        margin: 0;
        position: static;
        padding: 0;
        opacity: 1;
        background: transparent;
        box-shadow: none;
    }
    .menu-icon{
        opacity: 0;
        z-index: -1;
    }
    
    .header ul li{
        display: inline-block;
        border-bottom: none;    
    }
    .header ul li a{
        padding: 42px 30px;
    }
    .header ul li:hover{
        background: transparent;
     }
     .header ul li:hover .menu-list{
        opacity: 1;    
        visibility: visible;
    }
    
    .header ul li.mob-menu{
        display: none;
    }
}

@media screen and (min-device-width: 875px) and  (min-width: 875px) {
    body{
        padding-bottom: 165px;
    }
    .footer {
        height: 165px;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 25px;
     }

    .footer .v-middle{
        display: table;
        height: 100%;
    }
    
    .footer .v-middle .middle-block{
        display: table-cell;
        vertical-align: top;
        padding-top: 30px;
    }
    
    .footer .v-middle .side-block{
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }
    .footer .v-middle .side-block:last-child{
        text-align: right;
    }
    .form-container .block{
        width: 50%;
        float: left;
    }
    .form-container h3{
        font-weight: 900;
        font-size: 55px;
        line-height: 55px;
        margin: 0 0 30px 0;
    }
    

    .form-container .block:last-child{
        float: right;
        text-align: right;
    }
    .form-container .field-container span {
        display: inline-block;
        width: auto;
        text-align: left;
        margin-right: 5px;
    }
    .form-container .field-container{
        margin-bottom: 10px;
    }

    .form-container .field-container input
    {
        margin-left: 5px;
        width: 245px;
    }
    .home-page.content h1{
        font-size: 100px;
    }
    .home-page.content h2{
        font-size: 45px;
    }
    .home-page .what-we-do{
        max-width: 565px;
    }
    
  }

@media screen and (min-device-width: 768px) and   (min-width : 768px) {
    .card-row .card {
        width: 33%;
    }
    .desktop-slide{
        display: block;
    }
    .slide.mob-slide{
        display: none;
    }
}
@media screen and (min-width : 450px) {
    .card-row .card {
        width: 100%;
    }
}






